{% extends 'base.html' %}

{% load static %}

{% block title %}Все Чаты{% endblock %}

{% block stylesheets%} 
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

	<div class="correspondence">
	  
	  <div class="header header-chats">
	      <input data=the_user_chats placeholder="поиск" type="text" class="search">
	  </div>
	    


	    <div class="chats">
	      
	    	{% for m in the_user_chats %}
				<a href="{% url 'mesdb:chats' m.id %}" class="item_chat">
					{{ names|slice:forloop.counter|last }}
				</a>	
			{% endfor %}
	      
		</div>

	</div>

	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'js/correspondence1.js' %}">
	</script>
		  
{% endblock %}