{% extends "base.html" %}

{% load static %}

{% block title %} Регестрация {% endblock %}

{% block stylesheets %} 
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
{% endblock %}

{% block content %}
  <div class="container">

    

    <div class="links">
      <div class="title">Регестрация</div>
      <a class="title" href="{% url 'mesdb:login' %}">Вход</a>
    </div>

    <form action="" method="post">
      {% csrf_token %}
      <input class="form-control" type="text" name="username" id="id_username" placeholder="Имя пользователя" required>

      <input type="password" class="form-control" name="password1" autocomplete="new-password" id="id_password1" placeholder="Пароль" required>

      <input class="form-control" type="password" name="password2" id="id_password2" placeholder="Повторите пароль" required>

      <button class="form-control-button" type="submit">Зарегистрироваться</button>
    </form>

  </div>

{% endblock %}